
.centerButton {
display: flex;
margin: auto;
}

.mat-column-type { 
width: 80px !important;
text-align: left !important;
}

.mat-column-platinumDeposited { 
width: 80px !important;
text-align: center !important;
}

.mat-column-electrumDeposited { 
width: 80px !important;
text-align: center !important;
}

.mat-column-silverDeposited { 
width: 80px !important;
text-align: center !important;
}

.mat-column-copperDeposited { 
width: 80px !important;
text-align: center !important;
}

.mat-column-goldDeposited { 
width: 80px !important;
text-align: center !important;
}

.mat-column-totalValueInSilver {
    width: 100px !important;
    text-align: center !important;   
}

.mat-column-createdBy { 
width: 180px !important;
text-align: center !important;
}

.mat-column-createdOn { 
width: 90px !important;
text-align: center !important;
}

.mat-column-description { 
padding: 5px;
width: 300px !important;
max-width: 300px !important;
text-align: center !important;
}

tr.mat-header-row {
height: 12px !important;
text-align: center !important;
}

.mat-column {
    border: none;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
  }

  /* STYLE TO ALTERNATE COLOR ON TABLE ROWS */
/* .mat-row:nth-child(odd){
    background-color: rgb(58, 58, 58);
} */

::ng-deep mat-datepicker-toggle.mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button.mat-button-base {
    display: inherit;
  }

.grid-left {
    margin-left: 43%;
}

.grid-right {
    margin-right: 43%;
}

.tall-button {
    height: 52px;
    width: 202px;
    margin-bottom: 1rem;
    align-items: center;
}


