::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #4699c7; 
 }

 ::ng-deep .mat-step-header .mat-step-icon-state-edit {
   background-color: #4699c7; 
 }

 ::ng-deep .mat-dialog-container .fixed-width {
    width: 40vw;
     max-width: 40vw;
}

.field {
   min-width: 33vw;
}