<mat-dialog-content class="fixed-width">
    <span class="br"></span>
    <div class="bigLobsterText">Deposit Item</div>
    <br>

    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>New Or Pregenerated Item</ng-template><br>
                
                <mat-radio-group formControlName="isNewItem">
                    <mat-radio-button [value]="true">Create New</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button [value]="false">Select Pregenerated</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="!firstFormGroup.get('isNewItem')?.value">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectItem($event.option.value)'>
                        <mat-option *ngFor="let externalItem of externalItems" [value]="externalItem.name">
                            {{externalItem.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <span class="br-big"></span>
                    <mat-form-field appearance="fill" class="field">
                        <input type="text" 
                        placeholder="Type Name Of Pregenerated Item"
                        matInput 
                        formControlName="itemName"
                        (keyup)="getPregeneratedItem($event)"
                        (focusout)="clearSelection()"
                        required
                        [matAutocomplete]="auto">
                    </mat-form-field>
                </div>

                <div>
                    <br>
                    <button mat-raised-button color="light-blue" matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Item Details</ng-template><br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Item Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter Name Of New Item" required>
                </mat-form-field><br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Item Type</mat-label>
                    <mat-select placeholder = "Select Item Type" formControlName="type" name = "type" required>
                        <mat-option *ngFor="let type of itemTypes" [value]="type">
                            {{type | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Item Rarity</mat-label>
                    <mat-select placeholder = "Select Item Rarity" formControlName="rarity" name = "rarity" required>
                        <mat-option *ngFor="let rarity of rarityTypes" [value]="rarity">
                            {{rarity | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>

                <div *ngIf="data.user.role === 'dm'">
                    <mat-form-field appearance="fill" class="field">
                        <mat-label>(optional) Item Value
                            <span *ngIf="shouldDisplaySuggestedCost()">
                                -- suggested value: {{getSuggestedCost()}}sp
                            </span>
                        </mat-label>
                        <input matInput 
                        numeric 
                        type="number"
                        formControlName="cost" 
                        placeholder="Enter Cost Of Item In Silver">
                    </mat-form-field><br>
                </div>

                <div *ngIf="data.user.role === 'dm'">
                    <mat-form-field appearance="fill" class="field">
                        <mat-label>Item Quantity (max allowed: 9999)</mat-label>
                        <input matInput 
                        numeric 
                        type="number"
                        formControlName="quantity" 
                        placeholder="Enter Quantity">
                        <div *ngIf="secondFormGroup.controls['quantity'].invalid && (secondFormGroup.controls['quantity'].dirty || secondFormGroup.controls['quantity'].touched)">
                            <div *ngIf="secondFormGroup.controls['quantity'].errors.max">
                                <mat-error>
                                    Exceeded Max Allowed Quantity
                                </mat-error>
                            </div>
                            <div *ngIf="secondFormGroup.controls['quantity'].errors.min">
                                <mat-error>
                                    Minimum Quantity of 1 Required
                                </mat-error>
                            </div>
                        </div>
                    </mat-form-field><br>
                </div>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Description</mat-label>
                    <textarea
                    matInput 
                    class="textBox"  
                    formControlName="description" 
                    cols="40" 
                    rows="10" required>
                    </textarea>
                </mat-form-field><br>

                <mat-slide-toggle color="primary">Add Flavor Text</mat-slide-toggle>

                <br><br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Flavor Text</mat-label>
                    <textarea
                    matInput 
                    class="textBox"  
                    formControlName="description" 
                    cols="40" 
                    rows="4" required>
                    </textarea>
                </mat-form-field><br>
                
                <mat-form-field appearance="fill" class="field">
                    <mat-label>How Were These Item(s) Acquired</mat-label>
                    <textarea
                    matInput 
                    class="textBox"  
                    formControlName="origin" 
                    cols="40" 
                    rows="4" required>
                    </textarea>
                </mat-form-field><br>

                <div>
                    <button mat-raised-button color="light-blue" matStepperPrevious>Back</button>&nbsp;&nbsp;
                    <button mat-raised-button color="light-blue" (click)="depositItem()">Deposit Item</button>&nbsp;&nbsp;
                    <button mat-raised-button color="light-blue" (click)="closeModal()">Close</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>