<mat-dialog-content class="fixed-width">
    <span class="br"></span>
    <div class="bigLobsterText">Deposit Item</div>
    <br>

    <mat-stepper orientation="vertical" [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>New Or Pregenerated Item</ng-template><br>
                
                <mat-radio-group formControlName="isNewItem">
                    <mat-radio-button [value]="true">Create New</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button [value]="false">Select Pregenerated</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="!firstFormGroup.get('isNewItem')?.value">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectItem($event.option.value)'>
                        <mat-option *ngFor="let externalItem of externalItems" [value]="externalItem.name">
                            {{externalItem.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <span class="br-big"></span>
                    <input type="text" 
                    placeholder="Type Name Of Pregenerated Item"
                    matInput formControlName="firstCtrl"
                    (keyup)="getPregeneratedItem($event)"
                    [matAutocomplete]="auto"><br>
                </div>

                <div>
                    <br>
                    <button mat-raised-button color="light-blue" matStepperNext>Next</button>
                </div>

            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Item Details</ng-template><br>
                {{itemToCreate.name}}<br>
                {{itemToCreate.type}}<br>
                {{itemToCreate.rarity}}<br>
                {{itemToCreate.description}}<br>
                {{itemToCreate.cost}}<br>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>

</mat-dialog-content>