<div class="menu-container">
    <button class="menu-right" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <span *ngIf="areFiltersDeactivated()">
            Filter Items
            <mat-icon>filter_list</mat-icon>
        </span>
        <span *ngIf="!areFiltersDeactivated()" class="light-blue">
            Filters Active
            <mat-icon>filter_list</mat-icon>
        </span>
        
    </button>
    <mat-menu #menu="matMenu" yPosition="above" xPosition="before" class="mat-elevation-z20">
        <span (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <button mat-menu-item>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="rarity">
                    <mat-button-toggle value="common">
                        <span class="small-text">Common</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="uncommon">
                        <span class="small-text">Uncommon</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="rare">
                        <span class="small-text">Rare</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="very rare">
                        <span class="small-text">Very Rare</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="legendary">
                        <span class="small-text">Legendary</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="artifact">
                        <span class="small-text">Artifact</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </button>
            <span class="br"></span>
            <button mat-menu-item>
                <mat-select placeholder = "Filter By Item Type" [formControl]="type" name = "type" >
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{type | titlecase}}
                    </mat-option>
                </mat-select>
            </button>
            <span class="br"></span>
            <span class="button-left">
                <button mat-raised-button color="light-blue" (click)="clearFilters()">Clear Filters</button>
            </span>
        </span>
        &nbsp;&nbsp;
        <span class="button-right">
            <button mat-raised-button color="light-blue">Close</button>
        </span>
        <br>
    </mat-menu>
</div>