.confirm-title{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.confirm-message{
    font-size: 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }