<mat-dialog-content>
    <mat-card class="mat-elevation-z0 card-width">
        <mat-card-header>
            <mat-icon mat-card-avatar [svgIcon]="itemService.getItemIcon(data.item.type)" class="item-icon"></mat-icon>
            <mat-card-title>
                <span [ngClass]="itemService.getRarity(data.item.rarity)">
                    {{data.item.name | titlecase}}
                </span>
            </mat-card-title>
            <mat-card-subtitle>
                {{data.item.rarity | titlecase}} {{data.item.type | titlecase}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div style="white-space: pre-line">
                {{data.item.description}}
            </div>
            <div *ngIf="data.showQuantity && data.item.quantity > 1">
                <br>
                Quantity: {{data.item.quantity}}
            </div>
            <div *ngIf="data.showCost">
                <br>
                Value in Silver: {{data.item.cost}} (each)
            </div>
        </mat-card-content>
    </mat-card>

    <div *ngIf="!data.hideHistory" class="button-container">
        <button mat-raised-button color="light-blue" (click)="openHistoryDialog()">View History</button>
    </div>
</mat-dialog-content>