<div class="bag-background">
    <br>
    <img class="title" src="../../assets/title.png" />
    <br>
    <app-user [users]="users" #user></app-user>
    <br><br>
    <div class="money-card" *ngIf="userComponent?.selectedUser !== undefined">
        <app-money [currencyTransaction]="latestTransaction"></app-money>
        <div class="button-container">
            <br>
            <span *ngIf="userComponent?.selectedUser.role == 'dm'">
                <button mat-raised-button color="light-blue" (click)="openDepositDialog()">Deposit Coin</button>
                &nbsp;&nbsp;&nbsp;
            </span>
            <button mat-raised-button color="light-blue" (click)="openWithdrawDialog()">Withdraw Coin</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="light-blue" (click)="openMonetaryHistoryDialog()">Transaction
                History</button>
        </div>
        <br>
    </div>
    <br><br><br>
    <div *ngIf="userComponent?.selectedUser !== undefined" class="item-card">
        <app-item-container [user]="this.userComponent?.selectedUser"></app-item-container>
    </div>
    <br><br><br>
</div>