.bag-background{
    background-image: url('../../assets/wallpaper.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    height: fit-content;
    min-height: calc(100vh + 300px);
    overflow-y: visible;
}

.centerDie{
    display: flex;
    margin: auto;
}

.title{
    display: flex;
    margin: auto;
    height: 25%;
    width: 25%;
}

.moneyCard{
    margin: auto;
    width: fit-content;
    min-width: 50%;
    background-color: #424242;
    border: 5px solid #000;
}





