<div class="bag-background">
    <div *ngIf="loading">
        <br><br><br><br><br><br><br><br><br><br>
        <img class="centerDie" src="../../assets/dice-load.gif"/>
    </div>
    <div *ngIf="!loading">
        <br>
        <img class="title" src="../../assets/title.png"/>
        <br>
        <app-money [currencyTransaction]="latestTransaction"></app-money>
        <br><br>
        
        <app-user [users]="users" #user></app-user>
        <div *ngIf="userComponent?.selectedUser !== undefined">
            <br><br>
            <button mat-raised-button (click)="openTransactionDialog()">Deposit/Withdraw</button>
        </div>
    </div>
</div>
