.bag-background{
    background-image: url('../../assets/wallpaper.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    height: fit-content;
    min-height: var(--documentHeight);
    overflow-y: visible;
}

.centerDie{
    display: flex;
    margin: auto;
}

.title{
    display: flex;
    margin: auto;
    height: 25%;
    width: 25%;
}

.money-card{
    margin: auto;
    width: fit-content;
    /* min-width: var(--moneyWidth); */
    background-color: #424242;
    border: 5px solid #000;
    max-width: 80%;
}

.item-card{
    margin: auto;
    /* width: fit-content; */
    width: var(--itemWidth);
    background-color: #424242;
    border: 5px solid #000;
    max-width: 80%;
}





