.bag-background{
    background-image: url('../../assets/wallpaper.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    min-height: 1800px;
    overflow-x: visible;
}

.centerDie{
    display: flex;
    margin: auto;
}

.title{
    display: flex;
    margin: auto;
    height: 25%;
    width: 25%;
}

.moneyCard{
    margin: auto;
    width: 60%;
    background-color: #424242;
    border: 5px solid #000
}





