<div class="bag-background">
    <div [hidden]="!checkLoading()">
        <br><br><br><br><br><br><br><br><br><br>
        <img class="centerDie" src="../../assets/dice-load.gif"/>
    </div>
    <div [hidden]="checkLoading()">
        <br>
        <img class="title" src="../../assets/title.png"/>
        <br>
        <app-user [users]="users" #user></app-user>
        <br><br>
        <div class="moneyCard">
            <app-money [currencyTransaction]="latestTransaction"></app-money>
            <div *ngIf="userComponent?.selectedUser !== undefined" class="button-container">
                <br>
                <span *ngIf="userComponent?.selectedUser == 'DM (Chris)'">
                    <button mat-raised-button color="light-blue" (click)="openDepositDialog()">Deposit</button>
                    &nbsp;&nbsp;&nbsp;
                </span>
                <button mat-raised-button color="light-blue" (click)="openWithdrawDialog()">Withdraw</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="light-blue" (click)="openMonetaryHistoryDialog()">Transaction History</button>
            </div>
            <br>
        </div>
    </div>
</div>
