<br>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Party Item Vault">
        <br>
        <div class="button-container">
            <button mat-raised-button color="light-blue" (click)="openDepositDialog()">Deposit Item</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="light-blue" (click)="openHistoryDialog()">Transaction History</button>
        </div>
        <br><span class="br"></span>
        <div class="center-table">
            <app-item-table [user]="user" [isForBank]=true></app-item-table>
        </div>
    </mat-tab>
    <div *ngFor="let player of players">
        <mat-tab [label]="getPlayerBankLabel(player)">
            <br>
            <div class="button-container">
                <button mat-raised-button color="light-blue" (click)="openHistoryDialog()">Transaction History</button>
            </div>
            <br><span class="br"></span>
            <app-item-table [user]="player" [isForBank]=false></app-item-table>
        </mat-tab>
    </div>
</mat-tab-group>