<br>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Party Item Bank">
        <br>
        <div class="button-container">
            <button mat-raised-button color="light-blue" (click)="openDepositDialog()">Deposit Item</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="light-blue" (click)="openHistoryDialog()">Transaction History</button>
        </div>
        <br><span class="br"></span>
        <div class="center-table">
            <app-item-table user="bank"></app-item-table>
        </div>
    </mat-tab>
    <mat-tab label="My Items">
        <br>
        <div class="button-container">
            <button mat-raised-button color="light-blue" (click)="openHistoryDialog()">Transaction History</button>
        </div>
        <app-item-table [user]="user"></app-item-table>
    </mat-tab>
</mat-tab-group>