<mat-card class="mat-elevation-z0">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Party Coin Bank">
            <br>
            <div class="money-text">
                <img src="../../../assets/platinum.png" class="moneyIcon">
                Platinum: &nbsp;
                {{ currencyTransaction?.platinumTotal | number }} &nbsp;&nbsp;
                <img src="../../../assets/electrum.png" class="moneyIcon">
                Electrum: &nbsp;
                {{ currencyTransaction?.electrumTotal | number }} &nbsp;&nbsp;
                <img src="../../../assets/silver.png" class="moneyIcon">
                Silver: &nbsp;
                {{ currencyTransaction?.silverTotal | number }} &nbsp;&nbsp;
                <img src="../../../assets/copper.png" class="moneyIcon">
                Copper: &nbsp;
                {{ currencyTransaction?.copperTotal | number }} &nbsp;&nbsp;
                <img src="../../../assets/gold.png" class="moneyIcon">
                Gold: &nbsp;
                {{ currencyTransaction?.goldTotal | number }} &nbsp;&nbsp;
                <br>
                <span class="br"></span>
                Total Value in Silver: &nbsp;&nbsp;
                <img src="../../../assets/silver.png" class="moneyIcon">
                {{ currencyTransaction?.totalValueInSilver | number:'1.2-2' }}
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>