<div class="bigLobsterText" *ngIf="!selectedUser">
    Choose Your Character to Continue
</div>
<div class="user-dropdown" *ngIf="!selectedUser">
    <span class="br"> </span>
    <mat-select placeholder = "Select Character Here" 
    [(ngModel)]="selectedUser" name = "user" 
    [displayWith]="displayProperty"
    (selectionChange)='updateUser($event.value)'>
        <mat-option *ngFor="let user of users" [value]="user">
            {{user.character}} ({{user.player}})
        </mat-option>
    </mat-select>
</div>

<div *ngIf="selectedUser" class="user-label-small">
    Currently Logged In As:
</div>
<div *ngIf="selectedUser" class="bigLobsterText">
    <span class="br"> </span>
    {{selectedUser.character}} ({{selectedUser.player}})
</div>
<span class="br"> </span>
<div *ngIf="selectedUser" class="user-label-small blue" (click)="switchUser()">
   Switch Character
</div>
