.user-dropdown{
margin: auto;
width: 175px;
text-align: center;
font-family: 'Lobster', cursive;
}

.user-label-small{
margin: auto;
font-size: 13px;
text-align: center;
}

.blue{
    color: lightskyblue;
}

:host::ng-deep .mat-select-placeholder {
    color: white;
 } 
