<div class="user-label" *ngIf="!selectedUser">
    Choose Your Character to Continue
</div>
<div class="user-dropdown" *ngIf="!selectedUser">
    <br>
    <mat-select placeholder = "No Character Selected" [(ngModel)]="selectedUser" name = "user" >
        <mat-option *ngFor="let user of users" [value]="user.character">
            {{user.character}}
        </mat-option>
    </mat-select>
</div>

<div *ngIf="selectedUser" class="user-label-small">
    Currently Logged In As:
</div>
<div *ngIf="selectedUser" class="user-label">
    <br>
    {{selectedUser}}
</div>