.mat-column-icon { 
width: 50px !important;
text-align: left !important;
}
    
.mat-column-name { 
width: 200px !important;
text-align: left !important;
}

.mat-column-type { 
width: 120px !important;
text-align: center !important;
}

.mat-column-rarity { 
width: 80px !important;
text-align: center !important;
}

.mat-column-cost { 
width: 80px !important;
text-align: center !important;
}

.mat-column-sell { 
width: 55px !important;
text-align: center !important;
}

.mat-column-withdraw { 
width: 55px !important;
text-align: center !important;
}

.mat-column-delete { 
width: 55px !important;
text-align: center !important;
}

tr.mat-header-row {
height: 12px !important;
text-align: center !important;
}

.mat-column {
border: none;
}

.mat-table {
    margin: auto;
}

.mat-paginator {
    display: flex;
    justify-content: center !important;
}

:host ::ng-deep .mat-sort-header-container {
display: flex;
justify-content: center;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
opacity: 0.54 !important;
transform: translateY(0px) !important;
}

.item-icon {
    transform: scale(1.45);
    vertical-align: middle
}

.small-button {
    height: 35px;
    width: 42px!important;
    min-width: unset!important;
}

.center-icon {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.mat-badge-content {
    background:  #4699c7;
    font-size: 10px;
    font-weight: lighter;
}