    <app-filter-menu 
    (typeEvent)="updateTypeFilter($event)" 
    (rarityEvent)="updateRarityFilter($event)">
    </app-filter-menu>
    
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <img [src]='"../../../assets/"+getItemIcon(element.type)+".jpg"' class="item-icon">
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name | titlecase}}
                <span *ngIf="element.quantity > 1">({{element.quantity}})</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{element.type | titlecase}}</td>
        </ng-container>

        <ng-container matColumnDef="rarity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rarity</th>
            <td mat-cell *matCellDef="let element">
                <span [ngClass]="getRarity(element.rarity)">
                    {{element.rarity | titlecase}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value in SP</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cost != null">
                    {{element.cost | number}}
                </div>
                <div *ngIf="element.cost == null">
                    — —
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="withdraw">
            <th mat-header-cell *matHeaderCellDef>Move Item</th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container">
                    <button class="small-button" mat-raised-button color="light-blue" (click)="moveItem()">
                        <mat-icon>reply</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete Item</th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container">
                    <button class="small-button" mat-raised-button color="orange" (click)="deleteItem()">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
