    <app-filter-menu 
    (typeEvent)="updateTypeFilter($event)" 
    (rarityEvent)="updateRarityFilter($event)">
    </app-filter-menu>
    
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!userService.isNew(element.lastUpdatedOn, user)" (click)="openItemDescription(element)">
                    <mat-icon [svgIcon]="itemService.getItemIcon(element.type)" class="item-icon"></mat-icon>
                </div>
                <div *ngIf="userService.isNew(element.lastUpdatedOn, user)"
                (click)="openItemDescription(element)" 
                matBadge="new" 
                matBadgePosition="before" 
                matBadgeOverlap="true">
                    <mat-icon [svgIcon]="itemService.getItemIcon(element.type)" class="item-icon"></mat-icon>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
                <div (click)="openItemDescription(element)">
                    <span [ngClass]="itemService.getRarity(element.rarity)">
                        {{element.name | titlecase}}
                        <span *ngIf="element.quantity > 1">({{element.quantity}})</span>
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">
                <div (click)="openItemDescription(element)">
                    {{element.type | titlecase}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="rarity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rarity</th>
            <td mat-cell *matCellDef="let element">
                <div (click)="openItemDescription(element)">
                    {{element.rarity | titlecase}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value in SP</th>
            <td mat-cell *matCellDef="let element">
                <div (click)="openItemDescription(element)">
                    <div *ngIf="element.cost != null">
                        {{element.cost | number}}
                    </div>
                    <div *ngIf="element.cost == null">
                        — —
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="sell">
            <th mat-header-cell *matHeaderCellDef>Sell</th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container" *ngIf="element.cost">
                    <button class="small-button" 
                    mat-raised-button 
                    color="pink"
                    matTooltip="Sell Item(s) To Vendor"
                    [matTooltipShowDelay]="500"
                    (click)="sellItem(element)">
                        <div class="center-icon">
                            <mat-icon>attach_money</mat-icon>
                        </div>
                    </button>
                </div>
                <div class="button-container" *ngIf="!element.cost">
                    <button class="small-button" mat-raised-button disabled="true">
                        <div class="center-icon">
                            <mat-icon>attach_money</mat-icon>
                        </div>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="withdraw">
            <th mat-header-cell *matHeaderCellDef>Move</th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container">
                    <button class="small-button" 
                    mat-raised-button 
                    color="light-blue" 
                    [matTooltip]="getTooltipLabel()"
                    [matTooltipShowDelay]="500"
                    (click)="moveItem(element)">
                        <div class="center-icon">
                            <mat-icon>forward</mat-icon>
                        </div>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Discard</th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container">
                    <button class="small-button" 
                    mat-raised-button 
                    color="orange"
                    matTooltip="Discard Item(s) that are sold, consumed, stolen, etc..."
                    [matTooltipShowDelay]="500"
                    (click)="deleteItem(element)">
                        <div class="center-icon">
                            <mat-icon>delete_forever</mat-icon>
                        </div>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
