.mat-column-type { 
width: 80px !important;
text-align: center !important;
}

.mat-column-name { 
width: 200px !important;
text-align: center !important;
}

.mat-column-rarity { 
width: 80px !important;
text-align: center !important;
}

.mat-column-cost { 
width: 80px !important;
text-align: center !important;
}

.mat-column-quantity { 
width: 80px !important;
text-align: center !important;
}

tr.mat-header-row {
height: 12px !important;
text-align: center !important;
}

/* .mat-column {
border: none;
} */

:host ::ng-deep .mat-sort-header-container {
display: flex;
justify-content: center;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
opacity: 0.54 !important;
transform: translateY(0px) !important;
}