<mat-card class="mat-elevation-z0">
    <div class="lobsterText">
        <div class="bigLobsterText">
            Total Value in Silver &nbsp;&nbsp; 
            <img src="../../../assets/silver.png" class="bigMoneyIcon">
            {{ currencyTransaction?.totalValueInSilver | number:'1.2-2'  }}
            <br><br>
        </div>
        <img src="../../../assets/platinum.png" class="moneyIcon">
        Platinum &nbsp;
        {{ currencyTransaction?.platinumTotal }} &nbsp;&nbsp;
        <img src="../../../assets/electrum.png" class="moneyIcon">
        Electrum &nbsp;
        {{ currencyTransaction?.electrumTotal }} &nbsp;&nbsp;
        <img src="../../../assets/silver.png" class="moneyIcon">
        Silver &nbsp;
        {{ currencyTransaction?.silverTotal }} &nbsp;&nbsp;
        <img src="../../../assets/copper.png" class="moneyIcon">
        Copper &nbsp;
        {{ currencyTransaction?.copperTotal }} &nbsp;&nbsp;
        <img src="../../../assets/gold.png" class="moneyIcon">
        Gold &nbsp;
        {{ currencyTransaction?.goldTotal }} &nbsp;&nbsp;
    </div>
</mat-card>
