/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  margin: 0; 
      font-family: 'Lobster', cursive;
      color: white;
   }

   
.br {
   display: block;
   margin: 8px 0;
}
   
.br-big {
   display: block;
   margin: 16px 0;
}

.moneyIcon{
height: 20px;
margin-left: 7px;
}

.smallMoneyIcon{
height: 12px;
margin-left: 7px;
}

.bigMoneyIcon{
height: 30px;
margin-left: 7px;
}

.bigLobsterText{
margin: auto;
text-align: center;
font-family: 'Lobster', cursive;
font-size: 30px;
}

.lobsterText{
margin: auto;
text-align: center;
font-family: 'Lobster', cursive;
font-size: 20px;
}

.mat-light-blue {
background-color: #4699c7;
}

.mat-orange {
   background-color: orangered;
}

.light-blue {
color: #4699c7; 
}

.orange {
color: orangered;
}

.button-container {
margin: auto;
text-align: center;
}

.button-row {
   display: flex;
 }

/* MAT TAB STYLING */
app-item-container .mat-tab-label.mat-tab-label-active {
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 30px;
   color: white;
   opacity: 100%;
}

app-item-container .mat-tab-label{
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 30px;
   color: white;
}

 /* MAT CHECKBOX STYLING */
 .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
   border-color: #4699c7;
 }
 
 .mat-radio-button.mat-accent .mat-radio-inner-circle{
   background-color: #4699c7;
 }
 
 .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
   background-color:#4699c7;
 }
 

 /* REMOVE ARROWS FROM NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

