.mat-column-currency { 
border-bottom: none !important;
width: 100px !important;
}

.mat-column-transactionAmount { 
border-bottom: none !important;
width: 180px !important;
text-align: center !important;
}

.mat-column-valueInSilver { 
border-bottom: none !important;
min-width: 100 !important;
text-align: center !important;
}

.mat-column-currentAmount { 
border-bottom: none !important;
width: 100 !important;
text-align: center !important;
}

tr.mat-header-row {
height: 8px !important;
text-align: center !important;
}

.centerButton {
display: flex;
margin: auto;
}

.textBox {
display: flex;
margin: auto;
width: 80%;
color: black;
background-color: white;
}

.textBoxTitle {
padding-left: 10%;
font-size: 12px;
text-align: left;
}

.withdraw-label {
font-size: 30px;
text-align: center;
font-weight: bolder;
color: orangered;
}

.deposit-label {
font-size: 30px;
text-align: center;
font-weight: bolder;
color: #4699c7;
}

.mat-light-blue {
    background-color: #4699c7;
}

.button-row {
    display: flex;
  }

.warning {
    color: rgb(255, 60, 0);
}

.emptyTransaction {
    font-size: 12px;
    text-align: center;
}

